@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700";

* {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
}

nav.navbar-default {
    background-color: #cc0000;
    border: 0;
    border-radius: 0;
}

nav.navbar-default .navbar-right {
    padding-right: 0;
}

nav.navbar-default .navbar-brand {
    color: white;
    transition: 150ms;
}

nav.navbar-default .navbar-brand:hover {
    background-color: #990000;
    color: #ffeeee;
}

nav.navbar-default .navbar-brand:focus {
    color: #ffeeee;
}

nav.navbar-default .navbar-nav > li > a {
    color: white;
    transition: 150ms;
}

nav.navbar-default .navbar-nav > li > a:hover {
    background-color: #990000;
    color: #ffeeee;
}

nav.navbar-default .navbar-nav > li > a:focus {
    color: #ffeeee;
}

nav.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #990000;
}

nav.navbar-default .navbar-nav > .active > a {
    color: white;
    background-color: #990000;
}

nav.navbar-default .navbar-nav > .active > a:hover {
    color: white;
    margin-top: 0;
    background-color: #990000;
}

nav.navbar-default .navbar-nav > .active > a:focus {
    background-color: #990000;
}

nav > div.container-fluid {
    max-width: 900px;
}

nav .navbar-form {
    margin-top: 0;
    margin-bottom: 0;
}

nav .navbar-form button[type=submit], nav .navbar-form button[type=button] {
    margin-top: 0;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: white;
    padding: 6px 12px 6px 12px;
}

nav .navbar-form input[type=text] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #eecccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    padding: 0;
    transition: 150ms;
}

nav .navbar-form input[type=text]:focus {
    border-bottom: 2px solid white;
}

nav .navbar-form input[type=text]::-webkit-input-placeholder {
    color: #ffeeee;
}

nav .navbar-form input[type=text]::-moz-placeholder {
    color: #ffeeee;
}

nav .navbar-form input[type=text]:-ms-input-placeholder {
    color: #ffeeee;
}

nav .navbar-form input[type=text]:-moz-placeholder {
    color: #ffeeee;
}

div.panel {
    max-width: 900px;
}

div.panel a {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    display: block;
    text-decoration: none;
    color: inherit;
}

div.panel a span {
    float: right;
}

div.panel-heading {
    padding-top: 0;
    padding-bottom: 0;
}

div.btn-toolbar {
    max-width: 900px;
    margin-bottom: 15px;
}

div.btn-toolbar > .btn {
    margin-left: 0;
    margin-right: 5px;
}

.login-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    max-width: 500px;
}

.login-box .login-header {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #cc0000;
    padding: 8px 15px;
    font-size: 18pt;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.login-box .login-content {
    background: white;
    padding: 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 0px 2px 13px -2px rgba(189, 189, 189, 0.73);
    -moz-box-shadow: 0px 2px 13px -2px rgba(189, 189, 189, 0.73);
    box-shadow: 0px 2px 13px -2px rgba(189, 189, 189, 0.73);
}

.login-box button, .login-box input[type=button], .login-box input[type=submit] {
    width: 100%;
}

.login-box .alert {
    display: none;
    margin-bottom: 0;
}

.login-box .register {
    text-align: right;
}

form input[type=text], form input[type=password], form input[type=email] {
    border: none;
    border-bottom: 1px solid #cccccc;
    margin: 8px 0;
    height: 30px;
    width: 100%;
    transition: border-bottom 80ms;
}

form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus {
    border-bottom: 2px solid #cc0000;
}

form button, form input[type=button], form input[type=submit] {
    margin: 8px 0;
}

form select.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

form select.form-control:focus {
    border-color: #cc0000;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    outline: none;
}

form .alert {
    display: none;
}

/* Chrome input highlight remove */
input:focus, input:active:focus, input.active:focus, input.focus, input:active.focus, input.active.focus, select:focus, select:active:focus, select.active:focus, select.focus, select:active.focus, select.active.focus, textarea:focus, textarea:active:focus, textarea.active:focus, textarea.focus, textarea:active.focus, textarea.active.focus, button:focus, button:active:focus, button.active:focus, button.focus, button:active.focus, button.active.focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

/*input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
*/

/*# sourceMappingURL=style.css.map */
